.App {
  max-width: 652px;
  margin: 30px auto;
}
.App footer {
  font-size: 11px;
  margin: 10px 0;
  margin-top: 145px;
}
.beforeFooter {
  background: #dadce0;
  height: 1px;
  width: 100%;
  margin-bottom: 4px;
}
.WheatherApp {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: #878787;
}

