.formSearch {
  font-family: arial, sans-serif;
  /* border: 1px solid #dadde1; */
  padding: 16px;
  border-radius: 4px;
  color: #878787;
}

.wheatherInfoA {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.wheatherInfoB {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  text-align: right;
  margin-right: 13px;
}
.canvas,
.wIcon {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  padding-right: 12px;
}
.float-left {
  float: left;
}
.wTemperature {
  display: inline-block;
  vertical-align: top;

  font-size: 54px;
  color: black;
}
.wUnit {
  line-height: 24px;
  vertical-align: super;
  font-size: 16px;
  color:black;
}
.wOtherInfo {
  color: #70757a;
  display: inline-block;
  font-size: 13px;
  line-height: 16px;

  padding-top: 24px;
}

ul {
  list-style-type: none;
}

.wOtherInfo ul {
  padding-left: 25px;
}

.city {
  color: gray;
  font-size: 35px;
  margin-bottom: 15px;
}
.dataDes {
  color: #70757a;
  margin-top: 4px;
}
